{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Find the help you need</h1>
</div>
<p class="lead">Please enter your information below and we will find organizations looking to help people like you.</p>
<form method="post">
<p> Please select your gender. </p>
<select id="gender">
<option>Male</option>
<option>Female</option>
</select>
<p> Are you a veteran? </p>
<select id="isvet">
<option>No</option>
<option>Yes</option>
</select>
<p> Have you been diagnosed with HIV? </p>
<select id="hasHIV">
<option>No</option>
<option>Yes</option>
</select>
<input type="submit" val="Submit"></input>
</form>

{% endblock %}
